.cardForm {
	text-align: left;
	width: 100%;
}
.field {
	padding-left: 100px;
	padding-top: 10px;
	width: 200px;
}
.heading {
	padding-left: 100px;
	padding-top: 10px;
}
.text {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
	height: 12px;
}
.button {
	padding-top: 1px;
	padding-bottom: 1px;
	
	width: 200px;
	height: 40px;
	text-align: center;
}
.invalid {
	color: #fa3025;
	font-weight: 500;
}